# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so
.env
.venv
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
media/

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
